<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Color Extractor</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app">
		<v-app>
		  <v-main style="background-color:#f5f5f5">
			<v-container>
				<div height="100vh"  class="scrollable-card">
					<v-row>
						<v-col>
							<v-card class="text-center pa-2">
								<input type="file" @change="handleFileUpload1" />
								<v-sheet width="100%" class="my-2">
									<canvas ref="canvas1" style="width:100%;" @click="getColor1($event)"></canvas>
								</v-sheet>
								<v-img />
								<v-card-text>
									Selected color: <v-chip small v-if="selectedColor1" :style="{ backgroundColor: selectedColor1 }" class="white--text">{{ selectedColor1 }}</v-chip>
								</v-card-text>
							</v-card>
						</v-col>
						<v-col>
							<v-card class="text-center pa-2">
								<input type="file" @change="handleFileUpload2" />
								<v-sheet width="100%" class="my-2">
									<canvas ref="canvas2" style="width:100%;" @click="getColor2($event)"></canvas>
								</v-sheet>
								<v-img />
								<v-card-text>
									Selected color: <v-chip small v-if="selectedColor2" :style="{ backgroundColor: selectedColor2 }" class="white--text">{{ selectedColor2 }}</v-chip>
								</v-card-text>
							</v-card>
						</v-col>
					</v-row>
				</div>

				<v-card class="fixed-card" style="background-color: transparent;" flat tile>
					<div class="text-center py-5 transparent-card"　style="font-size: 24px;">類似度：{{similarity}}</div>
				</v-card>
			</v-container>
		  </v-main>
		</v-app>
	  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
          return {
            imageData1: null,
            imageData2: null,
            selectedColor1: null,
            selectedColor2: null,
			color_imgs:["color1.png","color2.png"],
			rgb1:[255,85,119],
			rgb2:[0,0,0]
          };
        },
		computed: {
			similarity() {
				const rDiff = Math.abs(this.rgb1[0] - this.rgb2[0]);
				const gDiff = Math.abs(this.rgb1[1] - this.rgb2[1]);
				const bDiff = Math.abs(this.rgb1[2] - this.rgb2[2]);
				const maxDiff = 255 * 3;
				const diff = rDiff + gDiff + bDiff;
				const similarity =  1 - diff / maxDiff;
				return String((similarity * 100).toFixed(2))+" %";
			}
		},
		mounted () {
			const image = new Image();
			image.src = "https://kumagallium.github.io/get_pixcel_color/"+this.color_imgs[0];
			image.onload = () => {
				const canvas = this.$refs.canvas1;
				const ctx = canvas.getContext('2d');
				canvas.width = image.width;
				canvas.height = image.height;
				ctx.drawImage(image, 0, 0);
				this.imageData1 = ctx.getImageData(0, 0, canvas.width, canvas.height);
			};
			this.selectedColor1 = `rgb(${this.rgb1[0]}, ${this.rgb1[1]}, ${this.rgb1[2]})`;
		},

		methods: {
			handleFileUpload1(event) {
				this.file = event.target.files[0];
				this.url = URL.createObjectURL(this.file);
				this.loadImage1();
			},
			handleFileUpload2(event) {
				this.file = event.target.files[0];
				this.url = URL.createObjectURL(this.file);
				this.loadImage2();
			},
			loadImage1() {
				const image = new Image();
				image.src = this.url;
				image.onload = () => {
					const canvas = this.$refs.canvas1;
					const ctx = canvas.getContext('2d');
					canvas.width = image.width;
					canvas.height = image.height;
					ctx.drawImage(image, 0, 0);
					this.imageData1 = ctx.getImageData(0, 0, canvas.width, canvas.height);
				};
			},
			loadImage2() {
				const image = new Image();
				image.src = this.url;
				image.onload = () => {
					const canvas = this.$refs.canvas2;
					const ctx = canvas.getContext('2d');
					canvas.width = image.width;
					canvas.height = image.height;
					ctx.drawImage(image, 0, 0);
					this.imageData2 = ctx.getImageData(0, 0, canvas.width, canvas.height);
				};
			},
			getColor1(event) {
				const canvas = this.$refs.canvas1;
				const x = parseInt((event.offsetX/canvas.clientWidth)*canvas.width);
				const y = parseInt((event.offsetY/canvas.clientHeight)*canvas.height);
				const index = (y * canvas.width + x) * 4;
				this.rgb1 = []
				this.rgb1[0] = this.imageData1.data[index];
				this.rgb1[1] = this.imageData1.data[index + 1];
				this.rgb1[2] = this.imageData1.data[index + 2];
				console.log(`R: ${this.rgb1[0]}, G: ${this.rgb1[2]}, B: ${this.rgb1[2]}`);
				this.selectedColor1 = `rgb(${this.rgb1[0]}, ${this.rgb1[1]}, ${this.rgb1[2]})`;
			},
			getColor2(event) {
				const canvas = this.$refs.canvas2;
				const x = parseInt((event.offsetX/canvas.clientWidth)*canvas.width);
				const y = parseInt((event.offsetY/canvas.clientHeight)*canvas.height);
				const index = (y * canvas.width + x) * 4;
				this.rgb2 = []
				this.rgb2[0] = this.imageData2.data[index];
				this.rgb2[1] = this.imageData2.data[index + 1];
				this.rgb2[2] = this.imageData2.data[index + 2];
				console.log(`R: ${this.rgb2[0]}, G: ${this.rgb2[2]}, B: ${this.rgb2[2]}`);
				this.selectedColor2 = `rgb(${this.rgb2[0]}, ${this.rgb2[1]}, ${this.rgb2[2]})`;
			},
        },
      });
    </script>
	<style>
		.scrollable-card {
		  max-height: calc(100vh - 64px);
		  overflow-y: auto;
		}
		.fixed-card {
		  position: fixed;
		  bottom: 0;
		  left: 0;
		  right: 0;
		}
		.transparent-card {
			background-color: rgba(0, 0, 0, 0.7);
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
			color: #fff;
		}
		</style>
  </body>
</html>
